html 
{
    height: 100%;
}
body 
{
    margin:0;
    height: 100%;
    background-color: hsl(0, 0%, 98%);
}

.attribution 
{
    position:fixed;
    bottom: 0;
    margin:0;
    right:0;
    left:0;
    
}
.attribution a 
{
    font-size: 15px;
}
.text 
{
    height:30%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    color:hsl(234, 12%, 34%);
    
}
.text h1 
{
    font-weight: 600;
    margin:0;
}
.text h2 
{
    font-weight: 400;
    margin:0;
}
.text h4
{
    font-weight: 200;
    margin: 0;
    color:hsl(229, 6%, 66%);
}
.carts 
{
    height: 60%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}
.carts h3 
{
    font-weight: 600;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
}
.carts p 
{
    font-weight: 400;
    font-size: 13px;
    font-family: 'Poppins', sans-serif;
    color:hsl(229, 6%, 66%);
}
.carts > div 
{
    background-color: white;
    width:300px;
    height:150px;
    border-style: solid;
    box-shadow: 10px 5px 5px grey;
}
.carts img 
{
    display: block;
    margin-left: auto;
    width:40px;
    height: 40px;
}
.supervisor 
{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    align-self:center;
    justify-self: center;
    /*toma el tamaño de su cuadrícula asignada*/
    height: 50%;
    border-color: cyan white white;
}
.calculator 
{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
    align-self:center;
    justify-self: center;
    border-color: blue white white;
}
.team-builder 
{
    border-color: red white white;
}
.team-builder, .karma 
{
    align-self: center;
    justify-self: center;
}
.karma 
{
    margin-top: 15px;
    border-color: orange white white;
}
/*mobile*/
@media(max-width:1000px)
{
    body 
    {
        height:0;
    }
    .text h4 
    {
       font-size: 15px;
       font-weight:400;
      
    }
    .attribution
    {
        position: static;
    }
    .text 
    {
        height:200px;
    }
    .carts 
    {
        display: flex;
        flex-direction: column;
        height:1000px;
    }
    .carts div 
    {   
        margin-bottom: 30px;
        height:400px;
        width:300px;
    }
    .carts h3 
    {
        font-size: 20px;
    }
    .karma 
    {
        margin-top: 0;
    }
    .carts p 
    {
        font-size: 15px;
        font-weight: 600;
    }
    .carts img 
    {
        position: relative;
        top:30px;
        width:50px;
        height:50px;
        margin-right: 10px;
    }
}
@media(max-width:360px)
{
    .text 
    {
        margin-top: 15px;
    }
    h2 
    {
        
        font-size: 20px;
    }
    h1 
    {
        font-size: 30px;
    }
    .text h4 
    {
        font-size: 13px;
    }
}
@media(min-width:360px) and (max-width:376px)
{
    .text 
    {
        margin-top: 20px;
    }
    h2 
    {
        
        font-size: 23px;
    }
    h1 
    {
        font-size: 28px;
    }
    .text h4 
    {
        font-size: 15px;
    }
}

@media(max-width:320px)
{
    .carts 
    {
        margin-top: 15px;
    }
    .carts > div 
    {
        width:250px;
    }
    .text h4 
    {
        font-size: 15px;
    }
    .carts img 
    {
        top:10px;
    }
}